[submodule "modules/TOGA_mini"]
	path = modules/TOGA_mini
	url = git@github.com:kirilenkobm/TOGA_mini.git
[submodule "modules/RNA-FM"]
	path = modules/RNA-FM
	url = git@github.com:kirilenkobm/RNA-FM.git
