[submodule "modules/RNA-FM"]
	path = modules/RNA-FM
	url = https://github.com/kirilenkobm/RNA-FM.git
[submodule "modules/RiNALMo"]
	path = modules/RiNALMo
	url = https://github.com/kirilenkobm/RiNALMo.git
